{% extends 'user/userbase.html' %}
{% load tailwind_filters %}
{% block content %}
<div class="flex flex-1 px-[10%] justify-between gap-8 w-full mt-10">
    <div class="flex flex-col  w-9/12 ">


        <div class="flex flex-col  mt-3 space-y-1 w-full border border-gray-200 shadow-lg p-5 rounded-lg">
            <h2 class="text-3xl font-bold ">My raise ticket</h2>
            <hr>
            <h4 class=" font-semibold">Title : <span class="text-gray-600">{{ticket.title}}</span></h4>
            <p class=" font-semibold">Status : <span class="text-yellow-600">{{ticket.status}}</span></p>
            <p class=" font-semibold">Description : <span class="text-gray-600">{{ticket.description}}</span></p>
        </div>
        
        <div class="flex flex-col mt-5 border border-gray-300 rounded-t-xl shadow-md ">
            <h2 class="text-xl font-bold bg-gray-200  rounded-t-xl p-5 mb-2">Reply</h2>
            {% for reply in replies %}
            {% if reply.author.role == 'superadmin' or reply.author.is_superuser %}
            <!-- SuperAdmin Reply -->
            <div class="flex justify-end px-4 mt-1 w-full">
                <div class="bg-purple-600 text-white rounded-xl px-4 py-2 ">
                    <p class="font-semibold text-sm mb-1">SuperAdmin</p>
                    <p>{{ reply.comment|linebreaksbr }}</p>
                    <p class="text-xs text-gray-200 mt-1 text-right">{{ reply.created_at|date:"d M Y H:i" }}</p>
                </div>
            </div>
            
            {% elif reply.author.role == 'staff' %}
            <!-- Staff Reply -->
             <div class="flex justify-end px-4 mt-1 mb-5 ">
                <div class="bg-blue-600 text-white rounded-xl px-4 py-2 ">
                    <p class="font-semibold text-sm mb-1">Staff ({{reply.author.username}})</p>
                    <p>{{ reply.comment|linebreaksbr }}</p>
                    <p class="text-xs text-gray-200 mt-1 text-right">{{ reply.created_at|date:"d M Y H:i" }}</p>
                </div>
            </div>
            {% else %}
            <!-- Normal User Reply -->
            <div class="flex justify-start px-4 mt-1 mb-5">
                <div class="bg-green-100 text-gray-900 rounded-xl px-4 py-2">
                    <p class="font-semibold text-sm mb-1"> Customer</p>
                    <p>{{ reply.comment|linebreaksbr }}</p>
                    <p class="text-xs text-gray-500 mt-1 text-right">{{ reply.created_at|date:"d M Y H:i" }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>

    <div class="flex-col flex w-3/12 mt-5">
        <h3 class="text-2xl font-bold text-center"> Add Your Reply</h3>
        
        {% if ticket.status != 'open' and ticket.status != 'closed' %}   
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="text-center bg-blue-500 py-2 px-3 border w-full rounded text-white">Send
                Reply</button>
        </form>
         {% endif %}

        <a href="{% url 'userdashboard' %}" class="text-center px-4 py-2 bg-green-100 mt-5"> Back to My Tickets
            DashBoard</a>
    </div>
</div>



{% endblock content %}