{% extends 'staff/staffbase.html' %}

{% block content %}

<div class="w-full mt-10">
    <h2 class="px-10 font-semibold text-lg "> Welocome to Our Dashboard, <span class="text-blue-700">{{user.username}}!</span></h2>
    <div class="grid grid-cols-4 px-[3%] py-5 gap-5">
        <div class="flex flex-col border py-5 text-white shadow px-4 bg-red-500 rounded">
            <h3 class="text-xl font-bold">Total Ticket</h3>
            <p class="text-2xl font-bold">{{count.tickets}}</p>
        </div>
        <div class="flex flex-col border py-5 text-white shadow px-4 bg-blue-500 rounded">
            <h3 class="text-xl font-bold">Total Open Ticket</h3>
            <p class="text-2xl font-bold">{{count.open_ticket}}</p>
        </div>
        <div class="flex flex-col border py-5 text-white shadow px-4 bg-green-500 rounded">
            <h3 class="text-xl font-bold">Total Resolved Ticket</h3>
            <p class="text-2xl font-bold">{{count.close_ticket}}</p>
        </div>
        <div class="flex flex-col border py-5 text-white shadow px-4 bg-yellow-500 rounded">
            <h3 class="text-xl font-bold">Total Staff</h3>
            <p class="text-2xl font-bold">{{count.users}}</p>
        </div>
       
    </div>
</div>
  
{% endblock content %}