{% extends 'staff/staffbase.html' %}

{% block content %}
<div class="flex flex-col w-full px-[5%] mt-10">
    <h2 class="text-2xl font-bold text-gray-700 mb-2">Open Tickets</h2>
    <table class="border shadow">
        <thead>
            <tr>
                <th class="text-xl font-semibold shadow py-2 px-4 rounded">Id</th>
                <th class="text-xl font-semibold shadow py-2 px-4 rounded">Title</th>
                <th class="text-xl font-semibold shadow py-2 px-4 rounded">Description</th>
                <th class="text-xl font-semibold shadow py-2 px-4 rounded">Status</th>
                <th class="text-xl font-semibold shadow py-2 px-4 rounded">Action</th>
            </tr>
        </thead>
        <tbody>
            
            {% for ticket in tickets %}
            
            <tr >
                <td class="text-lg font-normal shadow py-2 px-4">{{ticket.id}}</td>
                <td class="text-lg font-normal shadow py-2 px-4">{{ticket.title}}</td>
                <td class="text-lg font-normal shadow py-2 px-4">{{ticket.description}}</td>
                <td class="text-lg font-normal shadow py-2 px-4">{{ticket.status}}</td>
                <td class="text-lg font-normal shadow py-2 px-4 gap-5 flex justify-evenly">
                    <a href="{% url 'replycomment' ticket.id %}" class="text-blue-700 hover:underline">view</a>
                    <a href="{% url 'closedticket' ticket.id %}" class="text-red-700 hover:underline">closed</a>
                </td>
            </tr>  
            {% endfor %}
               
        </tbody>
    </table>
    <h2 class="text-2xl font-bold text-gray-700 mb-2"> Assigned ticket</h2>
    <table class="border shadow">
        <!-- <thead>
            <tr>
                <th class="text-xl font-semibold shadow py-2 px-4 rounded">Id</th>
                <th class="text-xl font-semibold shadow py-2 px-4 rounded">Title</th>
                <th class="text-xl font-semibold shadow py-2 px-4 rounded">Description</th>
                <th class="text-xl font-semibold shadow py-2 px-4 rounded">Status</th>
                <th class="text-xl font-semibold shadow py-2 px-4 rounded">Action</th>
            </tr>
        </thead>
        <tbody> -->
            
            {% for assigned in assigned_ticket %}
            
            <tr >
                <td class="text-lg font-normal shadow py-2 px-4">{{assigned.id}}</td>
                <td class="text-lg font-normal shadow py-2 px-4">{{assigned.title}}</td>
                <td class="text-lg font-normal shadow py-2 px-4">{{assigned.description}}</td>
                <td class="text-lg font-normal shadow py-2 px-4">{{assigned.status}}</td>
                <td class="text-lg font-normal shadow py-2 px-4 gap-5 flex justify-evenly">
                    <a href="{% url 'replycomment' assigned.id %}" class="text-blue-700 hover:underline">view</a>
                    <a href="{% url 'closedticket' assigned.id %}" class="text-red-700 hover:underline">closed</a>
                </td>
            </tr>  
            {% endfor %}
               
        </tbody>
    </table>

</div>
{% endblock content %}